            }
            header {
                background-color: #222222;
                padding: 10px 0;
            }
            .logo {
                margin: 0;
                background: url(Sneakers.png);
                background-size: 100px 80px;
                float: left;
                width: 100px;
                height: 80px;
            }
            header nav {
                float: right;
            }
            header:after {
                content: "";
                clear: both;
                display: block;
            }
            header nav li {
                list-style: none;
                float: left;
                margin-left: 20px;
                margin-top: 20px;
                
            }
            header nav li a {
                text-decoration: none;
                color: white;
                font-size: 15px;
                text-transform: uppercase;
                padding: 20px
            }
            #main banner {
                width: 100%;
                max-height: 500px;
                overflow: hidden;
            }
            #main-banner img {
                width: 100%;
            }
            #slider {
                overflow: hidden;
            }
            #slides {
                position: relative;
                width: 500%;
                margin: 0;
                left: 0;
                text-align: left;
                font-size: 0;
                animation: 10s slidy infinite;
            }
            #slides img {
                width: 20%;
                float: left;
            }
